<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-2.5.xsd   
        http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop-2.5.xsd   
        http://www.springframework.org/schema/tx   
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- 加载数据库配置参数 -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<!-- 创建数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
	</bean>

	<!-- 创建mybatis的sessionFactory -->
	<bean id="lazySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 配置包mapper下自动匹配并生产bean -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="mapper" />
		<property name="sqlSessionFactoryBeanName" value="lazySqlSessionFactory" />
	</bean>

	<!-- 登录验证bean -->
	<bean id="myUserDetailsService" class="service.impl.MyUserDetailsService">
	</bean>
	
	<!-- 拒绝访问异常处理bean -->
	<bean id="accessDeniedHandler" class="config.MyAccessDeniedHandler">
		<property name="errorPage" value="/view/accessdenied"></property>
	</bean>
	
	<!-- 权限验证异常处理bean -->
	<bean id="myAuthenticationEntryPoint" class="config.MyAuthenticationEntryPoint">
		<property name="loginPage" value="/view/login"></property>
	</bean>
</beans>