<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
           http://www.springframework.org/schema/security  
           http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- <http pattern="/*.html" security="none" /> -->
	<!-- <http pattern="/*.js" security="none" /> -->
	<!-- <http pattern="/view/list" security="none" /> -->
	<!-- <http pattern="/j_spring_security_check" security="none" /> -->

	<!-- <http pattern="/view/something" security="none" /> -->
	

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/view/login" access="permitAll"></intercept-url>
		<intercept-url pattern="/view/logout" access="permitAll"></intercept-url>
		<intercept-url pattern="/view/accessdenied" access="permitAll"></intercept-url>
		<intercept-url pattern="/view/loginfailed" access="permitAll"></intercept-url>
		<intercept-url pattern="/view/common/**" access="permitAll"></intercept-url>
		<intercept-url pattern="/view/user/**" access="hasRole('ROLE_USER')"></intercept-url>
		<intercept-url pattern="/view/admin/**" access="hasRole('ROLE_ADMIN')"></intercept-url>
		<intercept-url pattern="/view/manager/**" access="hasRole('ROLE_MANAGER')"></intercept-url>
		
		
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"></intercept-url>
		
		<access-denied-handler error-page="/view/accessdenied" />
		
		<form-login login-page="/view/login" default-target-url="/view/index"
			authentication-failure-url="/view/loginfailed"></form-login>
		<logout logout-success-url="/view/logout"></logout>
	</http>

	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="myUserDetailsService" />
	</authentication-manager>

</beans:beans>