.modelThumbnail {
	width: 200px;
	height: 175px;
	border: 1px solid #CCC;
	border-radius: 4px;
	padding: 5px;
	text-align: center;
	margin-left: 35px;
	margin-bottom: 15px;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.5s;
	-moz-transition: all 0.5s; /* Firefox 4 */
	-webkit-transition: all 0.5s; /* Safari and Chrome */
	-o-transition: all 0.5s;
}

.modelThumbnail:hover {
	border: 1px solid #337ab7;
	cursor: pointer;
}

.modelThumbnail:hover .name {
	color: #00a1d6;
	height: 23px;
}

.modelThumbnail .img {
	width: 188px;
	height: 120px;
	display: table-cell;
	vertical-align: middle;
}

.modelThumbnail:hover .operate {
	margin-top: 3px;
}

.modelThumbnail .operate {
	background: #555;
	width: 199px;
	height: 40px;
	margin-left: -5px;
	margin-top: 9px;
	/* 	margin-top: -20px; */
	border-radius: 4px;
	transition: all 0.1s;
	-moz-transition: all 0.1s; /* Firefox 4 */
	-webkit-transition: all 0.1s; /* Safari and Chrome */
	-o-transition: all 0.1s;
}

.modelThumbnail .img img {
	max-width: 188px;
	max-height: 120px;
}

.modelThumbnail .name {
	color: #666;
	padding-top: 6px;
	padding-left: 3px;
	padding-right: 3px;
	overflow: hidden;
	height: 40px;
	line-height: 17px
}

.modelThumbnail .operate a {
	color: #FFF;
	margin-right: 10px;
	margin-top: 4px;
	font-size: 9px;
}
