<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.CollectionMapper" >

	<select id="findCollectionByUser" resultType="map">
		select * from model_collection 
		where user_id=#{user_id}
		  <if test="status!=null">and status=#{status}</if>
	</select>
	
	<select id="findCollectionByModel" resultType="java.lang.Integer">
		select count(*)
		from model_collection 
		where model_id=#{model_id}
		  <if test="status!=null">and status=#{status}</if>
	</select>
	
	<select id="isCollection" resultType="map">
	    select * 
	    from model_collection
	    where user_id=#{user_id} 
	    and model_id=#{model_id}
	    <if test="status!=null">and status=#{status}</if>
	</select>
	
	<update id="removeCollection">
		update model_collection
		set status="deleted",
			updatetime=now()
		where user_id=#{user_id} 
	    and model_id=#{model_id}
		and status=#{status}
	</update>
	
	<update id="recoverCollection">
	   update model_collection
	   set status = "normal",
	   updatetime=now()
	   where user_id=#{user_id} 
	    and model_id=#{model_id}
		and status=#{status}
	</update>
	
	<insert id="addCollection" useGeneratedKeys="true" keyProperty="collection_id">
		insert into model_collection(user_id, model_id,status)
		values(#{user_id},
			   #{model_id},
			   #{status});
	</insert>

</mapper>