<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.ModelMapper" >

	<select id="getTotalModelType" resultType="map">
		select model_type_id, model_type_name from model_type order by model_type_id
	</select>

	<insert id="insertModel" useGeneratedKeys="true" keyProperty="model_id">
		insert into model(model_name, model_description, model_length, model_height, model_width,
			model_style, user_id, image_name, image_index)
		values(#{model_name}, #{model_description}, #{model_length}, #{model_height}, #{model_width},
			#{model_style}, #{user_id}, #{image_name}, #{image_index})
	</insert>
	
	<update id="updateModelById">
		update model
		set model_description = #{model_description},
			image_name = #{image_name},
			image_index = #{image_index},
			updatetime = now()
		where model_id = #{model_id}
	</update>
	
	<select id="findModelById" resultType="map">
		select * from model
		where model_id = #{model_id}
			<if test="status!=null">and status=#{status}</if>
	</select>
	
	<select id="getModelList" resultType="map">
		select * from (
			select * from model where model_style=#{model_type} and  model_name like N'#{key_word}' order by #{sort_type}
		) as t limit #{amount} offset #{offset}
	</select>
	
	<select id="getModelListWithoutKeyWord" resultType="map">
		select * from (
			select * from model where model_style=#{model_type} order by #{sort_type}
		) as t limit #{amount} offset #{offset}
	</select>
	
	<select id="getModelListWithoutType" resultType="map">
		select * from (
			select * from model where model_name like N'#{key_word}' order by #{sort_type}
		) as t limit #{amount} offset #{offset}
	</select>
	
	<select id="getModelListWithoutTypeWithoutKeyWord" resultType="map">
		select * from (
			select * from model order by #{sort_type}
		) as t limit #{amount} offset #{offset}
	</select>
</mapper>